.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  margin-left: 200px;
  background-color: #f5f7fa;
  background-image: linear-gradient(to bottom, #f5f7fa, #c3cfe2);
  justify-content: center;
  align-items: center;
}

.search > input {
  border-radius: 15px;
  padding: 5px;
  /* margin-top: 8px; */
  width: 250px;
  border: none;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  text-align: center;
  font-family: "Alata", sans-serif;
  font-size: 12px;
}
.search {
  margin-top: 120px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  /* margin: 5px 0px 10px 0px; */
  /* justify-content: center;
  align-items: center; */
}
.table {
  display: flex;
  width: 200px;
  justify-content: right;
  text-align: right;
}
.table > p {
  color: rgba(57, 106, 231, 0.863);
  font-size: 12px;
  font-family: "Alata", sans-serif;
  text-align: right;
  height: fit-content;
}
/* .table > tr{
    margin-top: 50px;
} */
.content {
  display: flex;
  flex-direction: row;
  /* margin: 21px 0px 10px 0px; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  height: 500px;
  width: 900px;
  background-color: #c3cfe230;
}
.message {
  display: flex;
  justify-content: left;
  text-align: left;
  margin-top: 70px;
  align-items: center;
}
.message > td {
  display: flex;
  justify-content: left;
  text-align: left;
  margin-top: 70px;
}
