.lessee{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width:100vw;
  margin-left: 210px;
  box-sizing: border-box;
  background-color: #f1f4fb;
}
.tables{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  /* flex-grow: 0.4; */
  display: flex;
}
.tableContent{
  /* background-color: antiquewhite; */
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  /* min-width: 200px;
  height: 100vh; */
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  margin-left: 210px;
}
.tableContent > table{
  width: 550px;
  text-align: center;
  /* margin-left: 10px; */
  margin-top: 10px;
  
}

.Payment  {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;

}
.PaymentDetails {
  display: flex;
  flex-direction: column;
}
.header{
  margin-top: 2px;
  display: flex;
  justify-content: center;
}

/*//////////////////*/

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin-left: 200px;
  background-color:#f5f7fa;
  /* background-image: linear-gradient( to bottom,#f5f7fa, #c3cfe2); */

  
}
.historyPayment {
  background-color:#f5f7fa;
  height: 80px;
  /* background-color: transparent; */

}
.navBar {
  display: flex;
  justify-content: left;
  align-items: center;

}
.navBar > h1 {
  display: flex;
  justify-content: left;
  text-align: center;
  margin-left: 250px;
  font-weight: bold;
  margin-top: 90px;
}
.content > div {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
 border-radius: 10px;
  height: 60px;
  width: 600px;
  margin: 2px 0px 2px 0px;
  background-color:#e8eef0;

}
.content {
  display: flex;
  flex-direction: column;
  margin: 5px 0px 10px 0px;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  /* background-image: linear-gradient( to bottom,rgba(124, 190, 241, 0.811),rgba(124, 190, 241, 0.811),rgba(124, 190, 241, 0.811),rgba(124, 190, 241, 0.811),rgba(255, 255, 255, 0.811),rgba(255, 255, 255, 0.811)); */
 /* background-image: linear-gradient( to bottom,#fdfcfb, #e2d1c3); */
 background-image: linear-gradient( to bottom,#f5f7fa, #c3cfe2);
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 25px 0px 20px 20px;
}
.date > h3{
  margin: -7px 30px 0px 50px;
  font-size: 14px;
}
.date > h5{
  margin: -7px 20px 0px 50px;
  width: 150px;
  font-size: 12px;
 
}
.date > h4{
  margin: -7px 30px 0px 30px;
  width: 200px;
  font-size: 12px;
  text-align: center;
}
/* .div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 0px;
} */
.content > .label {
  display: flex;
  flex-direction: row;
  justify-content: left;
   margin: 21px 0px 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
 border-radius: 5px;
  height: 50px;
  width: 600px;
  background-color:#284f8f;
}
.content > .label > h5 {
  display: flex;
  justify-content: left;
  margin: 15px 55px 0px 60px;
  color: white;
  font-weight: 650;
  font-size: 14px;
}
.content > .label > h4 {
  display: flex;
  justify-content: left;
  margin: 15px 60px 0px 120px;
  color: white;
  font-weight: 650;
  font-size: 14px;
}


.amount {
  display: flex;
  justify-content: left;
  margin: -40px 0px -10px 300px;
  width: 100px;
}
.historyPayment > .search {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 200px; */
  align-items: center;
  margin: 125px 0px 25px 10px;
  background-color: transparent;
  border: none;
 
  
}
.search > input {
  border-radius: 15px;
  padding: 5px;
  /* margin-top: 8px; */
  width: 250px;
  border: none;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  text-align: center;
  font-family: "Alata", sans-serif;
  font-size: 12px;
}
.number{
  margin: 10px 20px 0px 20px; 
  justify-content: space-between;
  width: 20px;
  border:none;

}
.number > input{
  margin: 10px; 
  justify-content: space-between;
  width: 20px;
}
.paymentDetails{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.table{
  margin-top: 10px;
}
.name{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.name > p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Alata", sans-serif;
  color: #acb4c1eb;
  letter-spacing: 1px;
}