.ContainerA {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: #c9def8;
  font-family: "Alata", sans-serif;
  position: relative;
  box-sizing: border-box;
}
.InnerContainer1 {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: #c9def8;
}
.BackA {
  margin-top: -5px;
  text-align: left;
  height: 40px;
  color: black;
  margin-left: -6px;
}
.BackA > p {
  margin-top: -31px;
  text-align: left;
  height: 50px;
  color: black;
  margin-left: 25px;
  font-size: 12px;
  padding-left: 5px;
  font-family: "Alata", sans-serif;
}

.BackA > button {
  color: black;
  background-color: transparent;
  border: none;
  padding: 10px;
  transition: background-color 0.5s;
  border-radius: 25px;
}
.ApplicationForm > h2 {
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 18px;
  box-sizing: border-box;
}
.a > input {
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  width: 120px;
  padding: 8px;
}

.a > input:focus {
  outline: none;
}
.b {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 18px;
  box-sizing: border-box;
  margin-left: 3px;
}

.b > input {
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  width: 120px;
  padding: 8px;
  margin-top: 25px;
}
.b > input:focus {
  outline: none;
}

.c {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 18px;
  box-sizing: border-box;
  margin-left: 3px;
}

.c > input {
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  width: 120px;
  padding: 8px;
  margin-top: 25px;
}
.c > input:focus {
  outline: none;
}

.d {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 18px;
  box-sizing: border-box;
  margin-left: 3px;
}

.d > input {
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  width: 188px;
  padding: 8px;
  margin-top: 25px;
}

.d > input:focus {
  outline: none;
}
.e {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 18px;
  box-sizing: border-box;
  margin-left: 3px;
}

.e > input {
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  width: 188px;
  padding: 8px;
  margin-top: 25px;
}
.e > input:focus {
  outline: none;
}
.StallTA {
  text-align: left;
  margin-top: 30px;
  margin-left: 15px;
}
.f {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 18px;
  box-sizing: border-box;
  margin-left: 10px;
}

.f > input{
  border: none;
  background: transparent; 
  width: 50px;
  padding: 8px;
  margin-top: 2px;
  font-size: 14px;
  font-weight: bold;
  
}
.f > input:focus {
  outline: none ;
}
.f > h5{
  font-size: 14px;
}
.g {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 18px;
  box-sizing: border-box;
  margin-left: 3px;
  margin-top: -10px;
}

.g > input {
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent; 
  width: 60px;
  padding: 8px;
  margin-top: -5px;
  margin-right: 15px;
  margin-left: 10px;
}
.g > input:focus {
  outline: none;
}
.g > h5 {
  /* width: 80px; */
  margin-left: 10px;
}

.h {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 18px;
  box-sizing: border-box;
  margin-left: 3px;
  margin-top: -10px;
}

.h > input {
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent; 
  width: 50px;
  padding: 8px;
  margin-top: -5px;
  margin-right: 15px;
}
.h > input:focus {
  outline: none;
}
.h > h5 {
  width: 80px;
  margin-left: 10px;
}
.i{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 18px;
  box-sizing: border-box;
  margin-left: 3px;
}
 
.i > input{
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent; 
  width: 130px;
  padding: 8px;
  margin-top: -5px;
  margin-right: 5px;
}
.i > input:focus {
  outline: none ;
}
.i > h5 {
  width: 80px;
  margin-left: 2px;
}

.Status {
  color: black;
  text-align: center;
  margin: 15px 0px -15px 0px;
  justify-content: center;
  display: flex;
}

.Status > button {
  color: black;
  text-align: center;
  background-color: #77a3f3;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  transition: background-color 0.5s;
  font-family: "Alata", sans-serif;
}
.Status > button:active {
  background-color: rgb(0, 157, 255);
  padding: 8px;
}

.Submit {
  color: black;
  text-align: center;
  display: flex;
  justify-content: left;
}

.Submit > p {
  background-color:transparent ;
  border: none;
  color: black;
  font-size: 14px;
  font-family: "Alata", sans-serif;
  justify-content: center;
  text-align: left;
  width: 200px;
  height: 35px;
  margin: 40px 0px 5px 10px;
}


h6 {
  text-align: center;
  font-style: italic;
  margin-top: -5px;
  color: rgba(83, 80, 80, 0.642);
}

h5 {
  font-size: 12px;
}
