@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

/*Login*/
.InnerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: #1c2257bb;
 
}
.OuterContainer {
  background-image: url("../../assets/bg.jpg");
  background-size: cover;
  background-position: -120px;
}

.Logo > img {
  margin-top: 120%;
  margin-bottom: 100%;
  height: 150px;
  width: 150px;
}

.Input {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Input > input {
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  width: 70%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}

.Input > input:focus {
  outline: none;
}

.Button {
  margin-top: 10px;
  height: 50px;
  color: white;
}

.Button > button {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: white;
  font-family: "Alata", sans-serif;
  transition: background-color 0.5s;
  border-radius: 25px;
}

.Button > button:active {
  background-color: rgb(0, 157, 255);
  padding: 10px;
  border-radius: 25px;
}

.Create-Account {
  margin-top: 25px;
  color: white;
}


/*Register*/

.InnerContainer1 {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color:#c9def8;
}

.Button1 {
  margin-top: 30px;
  text-align: left;
  height:40px;
  color: black;
  margin-left: 2px;
}

.Button1 > p {
  margin-top: -30px;
  text-align: left;
  height: 50px;
  color: black;
  margin-left: 25px;
  font-size: 12px;
  padding-left: 5px;
  font-family: "Alata", sans-serif;
}

.Button1 > button {
  color: black;
  background-color: transparent;
  border: none;
  padding: 10px;
  color: black;
  transition: background-color 0.5s;
  border-radius: 25px;  

}

.Button1 > button:active {
  background-color: rgb(0, 157, 255);
  padding: 10px;
  border-radius: 25px;
}

.CreateAccount1 {
  margin-top: 60px;
  color: black;
  text-align: left;
  font-size: 35px;
  margin-left: 55px;
  font-family: 'Alata', sans-serif;
}

.Input-item{
 margin-top: 82px;
 justify-content: center;
 position: relative;
 box-sizing: border-box;
 align-items: center;
}

.InputContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Input1{
  width: 60%;
}

.Input1 > input {
  border-radius: 25px;
  padding: 10px;
  width: 85%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-size: 16px;
}

.Input1 > input:focus {
  outline: none;
}

.Input2{
  width: 30%;  
}

.Input2 > input {
  border-radius: 25px;
  padding: 10px;
  width: 70%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-size: 16px;
}

.Input2 > input:focus {
  outline: none;
}

.InputContainer2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Input3{
  width: 30%;
}

.Input3 > input {
  border-radius: 20px;
  padding: 10px;
  margin-top: 45px;
  width: 70%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  text-align: center;
  justify-content: center;
  font-family: 'Alata', sans-serif;
  font-size: 16px;
}

.Input3 > input:focus {
  outline: none;
}

.Input4{
  width: 30%;
}

.Input4 > input {
  border-radius: 20px;
  padding: 10px;
  margin-top: 45px;
  width: 70%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-size: 16px;
}

.Input4 > input:focus {
  outline: none;
}

.Input5{
  width: 30%;
}

.Input5 > input {
  border-radius: 20px;
  padding: 10px;
  margin-top: 45px;
  width: 70%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-size: 16px;
}

.Input5 > input:focus {
  outline: none;
}

.InputContainer3{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  
}
  
.Input6{
  width:90%;
}

.Input6 > input {
  border-radius: 20px;
  padding: 10px;
  margin-top: 35px;
  width: 90%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-size: 16px;
}

.Input6 > input:focus {
  outline: none;
}

.Button2 {
  margin-top: 20px;
  height: 50px;
  color: white;
  text-align: right;
  margin-right: 50px;
}

.Button2 > button {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: black;
  font-size: 16px;
  font-family: "Alata", sans-serif;
  transition: background-color 0.5s;
  border-radius: 25px;
  justify-content: right;
  
}

.Button2 > button:active {
  background-color: rgb(0, 157, 255);
  padding: 10px;
 }
 .Button2 :disabled {
  opacity: 50%;
}

.Button2 :disabled :active {
  opacity: 50%;
}

.Button2 > button:disabled:active {
  background-color: transparent;
}

.Next{
  color: black;
}

span {
  font-size: small;
  color: red;
}

/*Verification*/
.InnerContainer2 {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: #c9def8;
  align-items: center;
 
}

.ButtonB {
  margin-top: 30px;
  height: 50px;
  color: black;
  text-align: left;
  margin-right: 335px;
}

.ButtonB > p {
  margin-top: -30px;
  text-align: left;
  height: 50px;
  color: black;
  margin-left: 25px;
  font-size: 12px;
  padding-left: 5px;
  font-family: "Alata", sans-serif;
}


.ButtonB > button {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: black;
  transition: background-color 0.5s;
  border-radius: 25px;
  margin-top: 35px;
}

.ButtonB> button:active {
  background-color: rgb(0, 157, 255);
  padding: 10px;
  border-radius: 25px;
}

.Code{
 margin-top: 120px;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.line > p {
  margin-top: 160px;
  word-spacing: 30px;
  text-align: center;
  justify-content: center;
}

.ConfirmButton {
  color: white;
  position:fixed;
  text-align: center;
  width: 187px;
  height: 29px;
  margin-top: 540px;
 
 }

.ConfirmButton > button {
  border-radius: 25px;
  width: 148px;
  height: 35px;
  background-color: #77A3F3;
  border: none;
  color: black;
  font-family: "Alata", sans-serif;
  font-size: 16px;
  transition: background-color 0.5s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 
}

.ConfirmButton > button:active {
  background-color: rgb(0, 157, 255);
  padding: 8px;
 
}

.RequestButton {
  position: absolute;
  width: 220px;
  height: 22px;
  top: 647px;
}

.RequestButton > button {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: black;
  transition: background-color 0.5s;
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  justify-content: center;
}

.RequestButton > button:active {
  background-color: rgb(0, 157, 255);
  padding: 10px;
  border-radius: 25px;
}


/*Verified*/

.VerifiedEmail {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 255px;
  height: 44px;
  margin-top: 240px;
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  
}

.ProceedButton {
  color: white;
  position:fixed;
  text-align: center;
  margin-top: 615px;
  padding: 10px;
}

.ProceedButton > button {
  border-radius: 25px;
  width: 200px;
  height: 40px;
  background-color: #77A3F3;
  border: none;
  color: black;
  font-size: 16px;
  font-family: "Alata", sans-serif;
  transition: background-color 0.5s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ProceedButton > button:active {
  background-color: rgb(0, 157, 255);
  padding: 10px;
}
.LogoV > img {
  height: 80px;
  width: 80px;
  padding-bottom: 50px;
}



/*Home*/
 .bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  background-color: #3B4E70;
  box-sizing: border-box;
  max-width: 100vw;

}
.Logo1{
  display: flex;
  flex-direction: row;
}
 .Logo1 >  button {
    background-color: transparent;
    border: none;
    justify-content: center;
  }
  .Logo2 {
    display: flex;
    flex-direction: row;
    width: 55px;
    margin-top: 10px;
  }
  .Logo2Alim > img{
    width: 40px;
    height: 40px ;
    margin-left:15px;
  }

.Economic{
    display: flex;
    flex-direction: column;
    width:300px;
    margin-top: 8px;
  }
.Nomic{
    font-size: 10px;
    font-weight: 400;
    margin-left: 14px;
    color: white;

}
.Department{
    font-size: 10px;
    font-weight: 400;
    margin-left: 10px;
    color: white;
}
 
.box1{
   display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.box2{
  display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.Stalls{
   justify-content: center ;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #ACC2ED;
  border-radius: 25px;
  margin: 15px;
}
.Stalls :active{
  background-color: rgb(0, 157, 255);
  
}


.Stalls > img{
  width: 50px;
  object-fit: contain;
}
.smalltext{
  font-size: 12px;
  
}


/* Reset */ 
.InnerContainerE{
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color:#c9def8;
}

  .InputContainerE{
    flex-direction: column;
    display: flex;
    margin-top: 70px;
    align-items: center;
  }

  .ResetPasswordE {
    margin-top: 185px;
    color: black;
    text-align: left;
    font-size: 35px;
    margin-left: 20px;
    font-family: 'Alata', sans-serif;
  }
 
  .InputE{
    width: 80%;
    align-items: center;
  }
  
  .InputE > input {
    border-radius: 25px;
    padding: 15px;
    margin-top: 25px;
    width: 90%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
  }
  
  .InputE > input:focus {
    outline: none;
  }
  
  .ButtonE {
    margin-top: 100px;
    color: white;
    text-align: center;
  }
  
  .ButtonE > button {
    background-color: #77A3F3;
    border: none;
    color: black;
    font-size: 16px;
    font-family: "Alata", sans-serif;
    transition: background-color 0.5s;
    border-radius: 25px;
    justify-content: center;
    text-align: center;
    width: 150px; 
    height: 35px;
    
  }
  
  .ButtonE > button:active {
    background-color: rgb(0, 157, 255);
    padding: 8px;
   }
  
  .Confirm{
    color: black;
  }

/* Reset Password Sucessful */ 
.InnerContainerE{
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color:#c9def8;
}

.InputContainerE{
    flex-direction: column;
    display: flex;
    margin-top: 70px;
    align-items: center;
 }

.ResetPasswordF {
    
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: 'Alata', sans-serif;
}
 
.ButtonF {
    margin-top: 200px;
    color: white;
    text-align: center;
}
  
.ButtonF > button {
    background-color: #77A3F3;
    border: none;
    color: black;
    font-size: 16px;
    font-family: "Alata", sans-serif;
    transition: background-color 0.5s;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    width: 150px; 
    height: 35px;
    
}
  
.ButtonF > button:active {
    background-color: rgb(0, 157, 255);
    padding: 8px;
}
  
.Loginagain{
    color: black;
}
.LogoCheck{
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoCheck > img {
  height: 80px;
  width: 80px;
  padding-bottom: 50px;
  margin-top: 180px;
}


/*MarketRules*/
.h1{
  text-align: center;
  justify-content: center;

}