@import url(https://fonts.googleapis.com/css2?family=Alata&display=swap);

.Reminder {
   justify-content: center ;
   flex-direction: column;
   display: flex;
   align-items: center;
   font-size: 14px;
   width: 300px;
   height: 190px;
   background-color: white;
   border-radius: 25px;
   margin: 10px;  
   margin-left: 50px;
   margin-top: 35px;
   
 }
 
 .Reminder > p{
    font-size: 16px;
    font-family: 'Alata', sans-serif;
    color: gray;
    margin-top: 6px;
 }
 .Reminder > h3{
    margin-top: -35px;
    padding-left: 35px;

    
 }
 
 .Payment{
    margin-top: 20px;
    padding: 25px;
    justify-content: center;
     margin-left: 10px;
 }

 .Pay{
    padding: 5px;
    width: 340px;
    height: 75px;
    background-color: aliceblue;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0em 0em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(0, 0, 0, 0) 0px 0px 0px 0px inset;
    margin-top: 40px;
    margin-right: 20px;
    
 }
 
 .Pay > button > img{
    width: 90px;
    height: 50px;
    margin-right: 20px;
    margin-left: -10px;
    margin-top: 1px;
 }
 .Pay > button{
   margin-right: 5px;
   margin-top: 2px;
   font-size: 16px;
   font-weight:bold; 
 }
 /*G cash*/
 .Container3{
   background-color:#77A3F3 ;
   margin-top: -1px;
   height: 200px;
   display: flex;
   flex-direction: column;
 }
.GcashAddAccount{
   background-color: aliceblue;
   box-sizing: border-box;
   height: 680px;
   justify-content:center;
   display:flex;
   align-items: center;
   flex-direction: column;
   font-size: 14px;
   width: 413px;
   border-top-right-radius: 45px;
   border-top-left-radius: 45px;
   margin-top: 110px;  
}
 .GcashAddAccount > img{
   width: 250px;
   height: 150px;
   margin: 30px 20px 30px 20px;
   justify-items: center;
   align-items: center;
   text-align: center;
 }
.GcashAccnt{
   width: 300px;
   justify-content: center;

   
}
.GcashAccnt > input{
   height: 40px;
   width: 300px;
   border: none;
   background-color: rgba(105, 100, 100, 0.212);
   border-radius: 10px;
   padding: 2px;
   margin-bottom: 10px;
   font-size: 14px;
   
}
.GcashAccnt > input:focus{
   outline: none;
   
}
.GcashAccnt > p{
   margin-bottom: -5px;
   font-family: 'Alata', sans-serif;
   font-size: 16px;
}
.GcashVerify{
   color: white;
   text-align: center;
   margin-top: 60px;
}
 
.ButtonE {
   margin-top: 100px;
   color: white;
   text-align: center;
 }
 
 .GcashVerify  > button {
   background-color: #77A3F3;
   border: none;
   color: black;
   font-size: 16px;
   font-family: "Alata", sans-serif;
   transition: background-color 0.5s;
   border-radius: 10px;
   justify-content: center;
   text-align: center;
   width: 90px; 
   height: 30px;
   
 }
 .Gcash{
   height: 500px;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
 }
 
 .GcashVerify > button:active {
   background-color: rgb(0, 157, 255);
   padding: 2px;
  }
 
/*Add G Cash*/
.AccntDefault {
   flex-direction: row;
   display: flex;
   word-spacing: 2px;
   margin-left: 15px;
   margin-right: 10px;
   margin-top: -20px;
   padding-left: 8px;
   border-spacing: 20px; 

}
.AccntDefault > input{
   background-color: transparent;
   border: none;
   width: 130px;
   height: 50px;
   margin-top: 30px;
   font-size: 18px;
   font-family: 'Alata', sans-serif;
   font-weight: bold;
}
.Pay1{
   padding: 5px;
   width: 340px;
   height: 150px;
   background-color: aliceblue;
   box-sizing: border-box;
   border-radius: 25px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 0em 0em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(0, 0, 0, 0) 0px 0px 0px 0px inset;
   margin-top: -40px;
   margin-bottom: 50px;
   
   
}

