
.picture > img{
    display: flex;
    width: 100vw;
    height: 250px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.StallDetails {
  display: flex;
  flex-direction: column;
  height: 600px;
}

.Stall{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
.Stall > p {
    font-family: 'Alata', sans-serif;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    margin: 20px 15px 0px 25px
}
.Stall > h4{
    font-family: 'Alata', sans-serif;
    align-items: center;
    margin-right: 30px;
    margin-top: 25px;
    font-size: 14px;
    font-weight: lighter;
}
.Details{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
} 
.Groceries > p{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 18px;
    box-sizing: border-box;
    margin-left: 10px;
}
.SD > p{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.Area{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-left: -10px;
    margin-top: -5px;
}
.Area > input{
    border-bottom: 2px solid rgb(136, 161, 244);
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent; 
    width: 65px;
    padding: 8px;
    margin-top: -5px;
    font-weight: bold;
    font-size: 14px;
}
.Area > input:focus {
    outline: none ;
}
.Area > h5{
    margin-left: 15px;
    margin-right: 10px;
    text-align: left;
    font-size: 14px;  
}
.Area1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-left: -10px;
    margin-top: -5px;
}
.Area1 > input{
    border-bottom: 2px solid rgb(136, 161, 244);
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent; 
    width: 140px;
    padding: 8px;
    margin-top: -5px;
    font-weight: bold;
    font-size: 14px;
}
.Area1 > input:focus {
    outline: none ;
}
.Area1 > h5{
    margin-left: 15px;
    margin-right: 10px;
    text-align: left;
    font-size: 14px;  
}
.click{
    flex-direction: row;
    margin: 50px 0px 0px 5px;
}