.container {
  display: flex;
  flex-direction: row;
  /* margin-top: 80px; */
  background-color: #c8daee;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  position: fixed; /*try lang */
  background-color: #c8daee;
}
.sidebarItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items:flex-start;

}
.LO {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
  width: 25px;
  margin-left: 220px;
}
.LO > p {
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  margin-top: 140px;
  margin-right: 10px;
}
