body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid black;
  text-align: center;
  padding: 2px;
  font-size: 12px;
}

th {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  font-size: 12px;
}

tr:nth-child(even) {
  background-color: #8fa8b781;
}
tr > button {
  background-color: transparent;
  border: none;
}