.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    rgba(181, 212, 251, 0.811),
    #6f90d2,
    #1323b3e6,
    #020841ea
  );
  height: 100vh;
}
.innerContainer > p {
  color: rgba(4, 3, 11, 0.594);
  font-size: 16px;
  font-weight: 600;
}
.logoGcash {
  margin: 5px 10px 0px 0px;
  display: grid;
  justify-items: center;
}
.logoGcash > img {
  width: 120px;
  height: 100px;
}
.content {
  flex: 0.5;
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  margin: 0px 20px;
  margin-top: 20px;
  height: 450px;
  background-color: white;
  border-radius: 15px;
  border-style: dotted;
  border-width: 2px;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.payment {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
}
.payment > h5 {
  font-size: 18px;
  letter-spacing: 1px;
}
.details {
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  margin: 2px 0px 5px 25px;
}
.details > input {
  display: flex;
  flex-direction: row;
  border: none;
  background-color: transparent;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 14px;
  width: 140px;
  font-weight: 600;
}
.details > p {
  justify-content: center;
  font-weight: 500;
  color: #66707d;
  margin: 5px;
  width: 130px;
  letter-spacing: 0.5px;
  font-size: 14px;
}
.details :focus {
  outline: none;
}

.done {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
}
.done > button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 400;
}
.BackA {
  margin-top: 6px;
  text-align: left;
  height: 40px;
  color: black;
  margin-left: 6px;
}
.BackA > button {
  color: black;
  background-color: transparent;
  border: none;
  padding: 10px;
  transition: background-color 0.5s;
  border-radius: 25px;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px 0px 0px;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 55px 0px 20px 0px;
}
.submit > button {
  background-color: #2377d0;
  background-image: linear-gradient(#020841d6, #1323b3e6);
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 30px;
  font-size: 12px;
  font-family: "Alata", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 25px;
}
.imageContainer {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: center;
}
.imageContainer > img {
  object-fit: contain;
  width: 100vw;
}
